@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');









/* animations */
.fade-in{
    animation: fade-in 1s;
}

@keyframes fade-in{
    from { 
        opacity: 0;
    }

    to{ 
        opacity: 1;
    }
}

.fade-out{
    animation: fade-out 1s;
}

@keyframes fade-out{
    from { 
        opacity: 1;
    }

    to{ 
        opacity: 0;
    }
}

.rotate-left{
    animation: rotate-left 1s;
}

@keyframes rotate-left{
    from{
        transform: rotate(-360deg)
    }

    to{
        transform: none;
    }
}

.rotate-right{
    animation: rotate-right 1s;
}

@keyframes rotate-right{
    from{
        transform: rotate(360deg)
    }

    to{
        transform: none;
    }
}

.slide-down{
    animation: slide-down 1s;
}

@keyframes slide-down{
    from{
        transform: translate(0, -100%)
    }

    to{
        transform: none;
    }
}

.slide-down-left{
    animation: slide-down-left 1s;
}

@keyframes slide-down-left{
    from{
        transform: translate(100%, -100%)
    }

    to{
        transform: none;
    }
}

.slide-down-right{
    animation: slide-down-right 1s;
}

@keyframes slide-down-right{
    from{
        transform: translate(-100%, -100%)
    }

    to{
        transform: none;
    }
}

.slide-up{
    animation: slide-up 1s;
}

@keyframes slide-up{
    from{
        transform: translate(0, 100%)
    }

    to{
        transform: none;
    }
}

.slide-up-left{
    animation: slide-up-left 1s;
}

@keyframes slide-up-left{
    from{
        transform: translate(100%, 100%)
    }

    to{
        transform: none;
    }
}

.slide-up-right{
    animation: slide-up-right 1s;
}

@keyframes slide-up-right{
    from{
        transform: translate(-100%, 100%)
    }

    to{
        transform: none;
    }
}

.slide-left{
    animation: slide-left 1s;
}

@keyframes slide-left{
    from{
        transform: translate(100%, 0)
    }

    to{
        transform: none;
    }
}

.slide-right{
    animation: slide-right 1s;
}

@keyframes slide-right{
    from{
        transform: translate(-100%, 0)
    }

    to{
        transform: none;
    }
}

.popup{
    animation: popup 1s;
}

@keyframes popup{
    from{
        transform: scale(0)
    }

    to{
        transform: none
    }
}

.popout{
    animation: popout 1s;
}

@keyframes popout{
    from{
        transform: none
    }

    to{
        transform: scale(0);
    }
}









/* borders */
.border-1{
    border: solid 1px;
}

.border-2{
    border: solid 1.5px;
}

.border-3{
    border: solid 2px;
}

.border-4{
    border: solid 2.5px;
}

.border-5{
    border: solid 3px;
}

.border-6{
    border: solid 3.5px;
}

.border-7{
    border: solid 4px;
}

.border-8{
    border: solid 4.5px;
}

.border-9{
    border: solid 5px;
}

.border-bot-1{
    border-bottom: solid 1px;
}

.border-bot-2{
    border-bottom: solid 1.5px;
}

.border-bot-3{
    border-bottom: solid 2px;
}

.border-bot-4{
    border-bottom: solid 2.5px;
}

.border-bot-5{
    border-bottom: solid 3px;
}

.border-bot-6{
    border-bottom: solid 3.5px;
}

.border-bot-7{
    border-bottom: solid 4px;
}

.border-bot-8{
    border-bottom: solid 4.5px;
}

.border-bot-9{
    border-bottom: solid 5px;
}

.border-top-1{
    border-top: solid 1px;
}

.border-top-2{
    border-top: solid 1.5px;
}

.border-top-3{
    border-top: solid 2px;
}

.border-top-4{
    border-top: solid 2.5px;
}

.border-top-5{
    border-top: solid 3px;
}

.border-top-6{
    border-top: solid 3.5px;
}

.border-top-7{
    border-top: solid 4px;
}

.border-top-8{
    border-top: solid 4.5px;
}

.border-top-9{
    border-top: solid 5px;
}

.border-left-1{
    border-left: solid 1px;
}

.border-left-2{
    border-left: solid 1.5px;
}

.border-left-3{
    border-left: solid 2px;
}

.border-left-4{
    border-left: solid 2.5px;
}

.border-left-5{
    border-left: solid 3px;
}

.border-left-6{
    border-left: solid 3.5px;
}

.border-left-7{
    border-left: solid 4px;
}

.border-left-8{
    border-left: solid 4.5px;
}

.border-left-9{
    border-left: solid 5px;
}

.border-right-1{
    border-right: solid 1px;
}

.border-right-2{
    border-right: solid 1.5px;
}

.border-right-3{
    border-right: solid 2px;
}

.border-right-4{
    border-right: solid 2.5px;
}

.border-right-5{
    border-right: solid 3px;
}

.border-right-6{
    border-right: solid 3.5px;
}

.border-right-7{
    border-right: solid 4px;
}

.border-right-8{
    border-right: solid 4.5px;
}

.border-right-9{
    border-right: solid 5px;
}

.border-color-1{
    border-color: var(--primaryColor);
}

.border-color-2{
    border-color: var(--secondaryColor);
}

.border-color-3{
    border-color: var(--details);
}

.border-color-4{
    border-color: var(--mode);
}

.border-color-5{
    border-color: var(--bg);
}

.border-color-white{
    border-color: #fff;
}

.border-color-gray{
    border-color: #8a8a8a;
}

.border-color-black{
    border-color: #000;
}

.border-bot-color-1{
    border-bottom-color: var(--primaryColor);
}

.border-bot-color-2{
    border-bottom-color: var(--secondaryColor);
}

.border-bot-color-3{
    border-bottom-color: var(--details);
}

.border-bot-color-4{
    border-bottom-color: var(--mode);
}

.border-bot-color-5{
    border-bottom-color: var(--bg);
}

.border-bot-color-white{
    border-bottom-color: #fff;
}

.border-bot-color-gray{
    border-bottom-color: #8a8a8a;
}

.border-bot-color-black{
    border-bottom-color: #000;
}

.border-top-color-1{
    border-top-color: var(--primaryColor);
}

.border-top-color-2{
    border-top-color: var(--secondaryColor);
}

.border-top-color-3{
    border-top-color: var(--details);
}

.border-top-color-4{
    border-top-color: var(--mode);
}

.border-top-color-5{
    border-top-color: var(--bg);
}

.border-top-color-white{
    border-top-color: #fff;
}

.border-top-color-gray{
    border-top-color: #8a8a8a;
}

.border-top-color-black{
    border-top-color: #000;
}

.border-left-color-1{
    border-left-color: var(--primaryColor);
}

.border-left-color-2{
    border-left-color: var(--secondaryColor);
}

.border-left-color-3{
    border-left-color: var(--details);
}

.border-left-color-4{
    border-top-color: var(--mode);
}

.border-left-color-5{
    border-top-color: var(--bg);
}

.border-left-color-white{
    border-left-color: #fff;
}

.border-left-color-gray{
    border-left-color: #8a8a8a;
}

.border-left-color-black{
    border-left-color: #000;
}

.border-right-color-1{
    border-right-color: var(--primaryColor);
}

.border-right-color-2{
    border-right-color: var(--secondaryColor);
}

.border-right-color-3{
    border-right-color: var(--details);
}

.border-right-color-4{
    border-top-color: var(--mode);
}

.border-right-color-5{
    border-top-color: var(--bg);
}

.border-right-color-white{
    border-right-color: #fff;
}

.border-right-color-gray{
    border-right-color: #8a8a8a;
}

.border-right-color-black{
    border-right-color: #000;
}








/* box-sizings */
.border-box{
    box-sizing: border-box;
}

.content-box{
    box-sizing: content-box;
}










/* buttons */
.btn{
    cursor: pointer;
}

.btn:hover{
    opacity: .7;
}

.btn:active{
    transform: translateY(2px);
}

.btn-1{
    color: var(--secondaryBtn);
    background-color: var(--primaryBtn);
}

.btn-2{
    color: var(--secondaryBtn);
    background-color: transparent;
    border: solid 2px var(--secondaryBtn);
}

.btn-3{
    color: var(--secondaryBtn);
    background-color: var(--primaryBtn);
    border: solid 2px var(--secondaryBtn);
}

.btn-4{
    color: var(--primaryBtn);
}

.btn-5{
    color: var(--secondaryBtn);
}










/* content-positioning */
.aln-center{
    align-items: center;
}

.aln-start{
    align-items: flex-start;
}

.aln-end{
    align-items: flex-end;
}

.aln-self-center{
    align-self: center;
}

.aln-self-start{
    align-self: flex-start;
}

.aln-self-end{
    align-self: flex-end;
}

.jst-center{
    justify-content: center;
}

.jst-start{
    justify-content: flex-start
}

.jst-end{
    justify-content: flex-end
}

.jst-around{
    justify-content: space-around;
}

.jst-between{
    justify-content: space-between;
}

.jst-evenly{
    justify-content: space-evenly;
}










/* content-sizing */
.width-fit{
    width: fit-content;
}

.width-5{
    width: 5%;
}

.width-10{
    width: 10%;
}

.width-15{
    width: 15%;
}

.width-20{
    width: 20%;
}

.width-25{
    width: 25%;
}

.width-30{
    width: 30%;
}

.width-35{
    width: 35%;
}

.width-40{
    width: 40%;
}

.width-45{
    width: 45%;
}

.width-50{
    width: 50%;
}

.width-55{
    width: 55%;
}

.width-60{
    width: 60%;
}

.width-65{
    width: 65%;
}

.width-70{
    width: 70%;
}

.width-75{
    width: 75%;
}

.width-80{
    width: 80%;
}

.width-85{
    width: 85%;
}

.width-90{
    width: 90%;
}

.width-95{
    width: 95%;
}

.width-100{
    width: 100%;
}

.min-width-5{
    min-width: 5%;
}

.min-width-10{
    min-width: 10%;
}

.min-width-15{
    min-width: 15%;
}

.min-width-20{
    min-width: 20%;
}

.min-width-25{
    min-width: 25%;
}

.min-width-30{
    min-width: 30%;
}

.min-width-35{
    min-width: 35%;
}

.min-width-40{
    min-width: 40%;
}

.min-width-45{
    min-width: 45%;
}

.min-width-50{
    min-width: 50%;
}

.min-width-55{
    min-width: 55%;
}

.min-width-60{
    min-width: 60%;
}

.min-width-65{
    min-width: 65%;
}

.min-width-70{
    min-width: 70%;
}

.min-width-75{
    min-width: 75%;
}

.min-width-80{
    min-width: 80%;
}

.min-width-85{
    min-width: 85%;
}

.min-width-90{
    min-width: 90%;
}

.min-width-95{
    min-width: 95%;
}

.min-width-100{
    min-width: 100%;
}


.max-width-5{
    max-width: 5%;
}

.max-width-10{
    max-width: 10%;
}

.max-width-15{
    max-width: 15%;
}

.max-width-20{
    max-width: 20%;
}

.max-width-25{
    max-width: 25%;
}

.max-width-30{
    max-width: 30%;
}

.max-width-35{
    max-width: 35%;
}

.max-width-40{
    max-width: 40%;
}

.max-width-45{
    max-width: 45%;
}

.max-width-50{
    max-width: 50%;
}

.max-width-55{
    max-width: 55%;
}

.max-width-60{
    max-width: 60%;
}

.max-width-65{
    max-width: 65%;
}

.max-width-70{
    max-width: 70%;
}

.max-width-75{
    max-width: 75%;
}

.max-width-80{
    max-width: 80%;
}

.max-width-85{
    max-width: 85%;
}

.max-width-90{
    max-width: 90%;
}

.max-width-95{
    max-width: 95%;
}

.max-width-100{
    max-width: 100%;
}

.min-width-320{
    min-width: 320px;
}

.min-width-340{
    min-width: 340px;
}

.min-width-360{
    min-width: 360px;
}

.min-width-380px{
    min-width: 380px;
}

.min-width-400{
    min-width: 400px;
}

.min-width-420{
    min-width: 420px;
}

.min-width-440{
    min-width: 440px;
}

.min-width-460{
    min-width: 460px;
}

.min-width-480{
    min-width: 480px;
}

.min-width-500{
    min-width: 500px;
}

.min-width-520{
    min-width: 520px;
}

.min-width-540{
    min-width: 540px;
}

.min-width-560{
    min-width: 560px;
}

.min-width-580{
    min-width: 580px;
}

.min-width-600{
    min-width: 600px;
}

.min-width-620{
    min-width: 620px;
}

.min-width-640{
    min-width: 640px;
}

.min-width-680{
    min-width: 680px;
}

.min-width-700{
    min-width: 700px;
}

.min-width-720{
    min-width: 720px;
}

.min-width-740{
    min-width: 740px;
}

.min-width-760{
    min-width: 760px;
}

.min-width-780{
    min-width: 780px;
}

.min-width-800{
    min-width: 800px;
}

.max-width-320{
    max-width: 320px;
}

.max-width-340{
    max-width: 340px;
}

.max-width-360{
    max-width: 360px;
}

.max-width-380px{
    max-width: 380px;
}

.max-width-400{
    max-width: 400px;
}

.max-width-420{
    max-width: 420px;
}

.max-width-440{
    max-width: 440px;
}

.max-width-460{
    max-width: 460px;
}

.max-width-480{
    max-width: 480px;
}

.max-width-500{
    max-width: 500px;
}

.max-width-520{
    max-width: 520px;
}

.max-width-540{
    max-width: 540px;
}

.max-width-560{
    max-width: 560px;
}

.max-width-580{
    max-width: 580px;
}

.max-width-600{
    max-width: 600px;
}

.max-width-620{
    max-width: 620px;
}

.max-width-640{
    max-width: 640px;
}

.max-width-680{
    max-width: 680px;
}

.max-width-700{
    max-width: 700px;
}

.max-width-720{
    max-width: 720px;
}

.max-width-740{
    max-width: 740px;
}

.max-width-760{
    max-width: 760px;
}

.max-width-780{
    max-width: 780px;
}

.max-width-800{
    max-width: 800px;
}

.height-fit{
    height: fit-content;
}

.height-5{
    height: 5%;
}

.height-10{
    height: 10%;
}

.height-15{
    height: 15%;
}

.height-20{
    height: 20%;
}

.height-25{
    height: 25%;
}

.height-30{
    height: 30%;
}

.height-35{
    height: 35%;
}

.height-40{
    height: 40%;
}

.height-45{
    height: 45%;
}

.height-50{
    height: 50%;
}

.height-55{
    height: 55%;
}

.height-60{
    height: 60%;
}

.height-65{
    height: 65%;
}

.height-70{
    height: 70%;
}

.height-75{
    height: 75%;
}

.height-80{
    height: 80%;
}

.height-85{
    height: 85%;
}

.height-90{
    height: 90%;
}

.height-95{
    height: 95%;
}

.height-100{
    height: 100%;
}


.min-height-5{
    min-height: 5%;
}

.min-height-10{
    min-height: 10%;
}

.min-height-15{
    min-height: 15%;
}

.min-height-20{
    min-height: 20%;
}

.min-height-25{
    min-height: 25%;
}

.min-height-30{
    min-height: 30%;
}

.min-height-35{
    min-height: 35%;
}

.min-height-40{
    min-height: 40%;
}

.min-height-45{
    min-height: 45%;
}

.min-height-50{
    min-height: 50%;
}

.min-height-55{
    min-height: 55%;
}

.min-height-60{
    min-height: 60%;
}

.min-height-65{
    min-height: 65%;
}

.min-height-70{
    min-height: 70%;
}

.min-height-75{
    min-height: 75%;
}

.min-height-80{
    min-height: 80%;
}

.min-height-85{
    min-height: 85%;
}

.min-height-90{
    min-height: 90%;
}

.min-height-95{
    min-height: 95%;
}

.min-height-100{
    min-height: 100%;
}

.min-height-320{
    min-height: 320px;
}

.min-height-340{
    min-height: 340px;
}

.min-height-360{
    min-height: 360px;
}

.min-height-380px{
    min-height: 380px;
}

.min-height-400{
    min-height: 400px;
}

.min-height-420{
    min-height: 420px;
}

.min-height-440{
    min-height: 440px;
}

.min-height-460{
    min-height: 460px;
}

.min-height-480{
    min-height: 480px;
}

.min-height-500{
    min-height: 500px;
}

.min-height-520{
    min-height: 520px;
}

.min-height-540{
    min-height: 540px;
}

.min-height-560{
    min-height: 560px;
}

.min-height-580{
    min-height: 580px;
}

.min-height-600{
    min-height: 600px;
}

.min-height-620{
    min-height: 620px;
}

.min-height-640{
    min-height: 640px;
}

.min-height-680{
    min-height: 680px;
}

.min-height-700{
    min-height: 700px;
}

.min-height-720{
    min-height: 720px;
}

.min-height-740{
    min-height: 740px;
}

.min-height-760{
    min-height: 760px;
}

.min-height-780{
    min-height: 780px;
}

.min-height-800{
    min-height: 800px;
}

.max-height-5{
    max-height: 5%;
}

.max-height-10{
    max-height: 10%;
}

.max-height-15{
    max-height: 15%;
}

.max-height-20{
    max-height: 20%;
}

.max-height-25{
    max-height: 25%;
}

.max-height-30{
    max-height: 30%;
}

.max-height-35{
    max-height: 35%;
}

.max-height-40{
    max-height: 40%;
}

.max-height-45{
    max-height: 45%;
}

.max-height-50{
    max-height: 50%;
}

.max-height-55{
    max-height: 55%;
}

.max-height-60{
    max-height: 60%;
}

.max-height-65{
    max-height: 65%;
}

.max-height-70{
    max-height: 70%;
}

.max-height-75{
    max-height: 75%;
}

.max-height-80{
    max-height: 80%;
}

.max-height-85{
    max-height: 85%;
}

.max-height-90{
    max-height: 90%;
}

.max-height-95{
    max-height: 95%;
}

.max-height-100{
    max-height: 100%;
}

.max-height-320{
    max-height: 320px;
}

.max-height-340{
    max-height: 340px;
}

.max-height-360{
    max-height: 360px;
}

.max-height-380px{
    max-height: 380px;
}

.max-height-400{
    max-height: 400px;
}

.max-height-420{
    max-height: 420px;
}

.max-height-440{
    max-height: 440px;
}

.max-height-460{
    max-height: 460px;
}

.max-height-480{
    max-height: 480px;
}

.max-height-500{
    max-height: 500px;
}

.max-height-520{
    max-height: 520px;
}

.max-height-540{
    max-height: 540px;
}

.max-height-560{
    max-height: 560px;
}

.max-height-580{
    max-height: 580px;
}

.max-height-600{
    max-height: 600px;
}

.max-height-620{
    max-height: 620px;
}

.max-height-640{
    max-height: 640px;
}

.max-height-680{
    max-height: 680px;
}

.max-height-700{
    max-height: 700px;
}

.max-height-720{
    max-height: 720px;
}

.max-height-740{
    max-height: 740px;
}

.max-height-760{
    max-height: 760px;
}

.max-height-780{
    max-height: 780px;
}

.max-height-800{
    max-height: 800px;
}

.all-fit{
    width: fit-content;
    height: fit-content;
}

.all-5{
    width: 5%;
    height: 5%;
}

.all-10{
    width: 10%;
    height: 10%;
}

.all-15{
    width: 15%;
    height: 15%;
}

.all-20{
    width: 20%;
    height: 20%;
}

.all-25{
    width: 25%;
    height: 25%;
}

.all-30{
    width: 30%;
    height: 30%;
}

.all-35{
    width: 35%;
    height: 35%;
}

.all-40{
    width: 40%;
    height: 40%;
}

.all-45{
    width: 45%;
    height: 45%;
}

.all-50{
    width: 50%;
    height: 50%;
}

.all-55{
    width: 55%;
    height: 55%;
}

.all-60{
    width: 60%;
    height: 60%;
}

.all-65{
    width: 65%;
    height: 65%;
}

.all-70{
    width: 70%;
    height: 70%;
}

.all-75{
    width: 75%;
    height: 75%;
}

.all-80{
    width: 80%;
    height: 80%;
}

.all-85{
    width: 85%;
    height: 85%;
}

.all-90{
    width: 90%;
    height: 90%;
}

.all-95{
    width: 95%;
    height: 95%;
}

.all-100{
    width: 100%;
    height: 100%;
}

.width-5-v{
    width: 5vw;
}

.width-10-v{
    width: 10vw;
}

.width-15-v{
    width: 15vw;
}

.width-20-v{
    width: 20vw;
}

.width-25-v{
    width: 25vw;
}

.width-30-v{
    width: 30vw;
}

.width-35-v{
    width: 35vw;
}

.width-40-v{
    width: 40vw;
}

.width-45-v{
    width: 45vw;
}

.width-50-v{
    width: 50vw;
}

.width-55-v{
    width: 55vw;
}

.width-60-v{
    width: 60vw;
}

.width-65-v{
    width: 65vw;
}

.width-70-v{
    width: 70vw;
}

.width-75-v{
    width: 75vw;
}

.width-80-v{
    width: 80vw;
}

.width-85-v{
    width: 85vw;
}

.width-90-v{
    width: 90vw;
}

.width-95-v{
    width: 95vw;
}

.width-100-v{
    width: 100vw;
}

.height-5-v{
    height: 5vh;
}

.height-10-v{
    height: 10vh;
}

.height-15-v{
    height: 15vh;
}

.height-20-v{
    height: 20vh;
}

.height-25-v{
    height: 25vh;
}

.height-30-v{
    height: 30vh;
}

.height-35-v{
    height: 35vh;
}

.height-40-v{
    height: 40vh;
}

.height-45-v{
    height: 45vh;
}

.height-50-v{
    height: 50vh;
}

.height-55-v{
    height: 55vh;
}

.height-60-v{
    height: 60vh;
}

.height-65-v{
    height: 65vh;
}

.height-70-v{
    height: 70vh;
}

.height-75-v{
    height: 75vh;
}

.height-80-v{
    height: 80vh;
}

.height-85-v{
    height: 85vh;
}

.height-90-v{
    height: 90vh;
}

.height-95-v{
    height: 95vh;
}

.height-100-v{
    height: 100vh;
}

.all-5-v{
    width: 5vw;
    height: 5vh;
}

.all-10-v{
    width: 10vw;
    height: 10vh;
}

.all-15-v{
    width: 15vw;
    height: 15vh;
}

.all-20-v{
    width: 20vw;
    height: 20vh;
}

.all-25-v{
    width: 25vw;
    height: 25vh;
}

.all-30-v{
    width: 30vw;
    height: 30vh;
}

.all-35-v{
    width: 35vw;
    height: 35vh;
}

.all-40-v{
    width: 40vw;
    height: 40vh;
}

.all-45-v{
    width: 45vw;
    height: 45vh;
}

.all-50-v{
    width: 50vw;
    height: 50vh;
}

.all-55-v{
    width: 55vw;
    height: 55vh;
}

.all-60-v{
    width: 60vw;
    height: 60vh;
}

.all-65-v{
    width: 65vw;
    height: 65vh;
}

.all-70-v{
    width: 70vw;
    height: 70vh;
}

.all-75-v{
    width: 75vw;
    height: 75vh;
}

.all-80-v{
    width: 80vw;
    height: 80vh;
}

.all-85-v{
    width: 85vw;
    height: 85vh;
}

.all-90-v{
    width: 90vw;
    height: 90vh;
}

.all-95-v{
    width: 95vw;
    height: 95vh;
}

.all-100-v{
    width: 100vw;
    height: 100vh;
}

.ratio-1-1{
    aspect-ratio: 1 / 1;
}

.ratio-1-2{
    aspect-ratio: 1 / 2;
}

.ratio-1-3{
    aspect-ratio: 1 / 3;
}

.ratio-1-4{
    aspect-ratio: 1 / 4;
}

.ratio-1-5{
    aspect-ratio: 1 / 5;
}

.ratio-1-6{
    aspect-ratio: 1 / 6;
}

.ratio-2-3{
    aspect-ratio: 2 / 3;
}

.ratio-3-2{
    aspect-ratio: 3 / 2;
}

.ratio-3-4{
    aspect-ratio: 3 / 4;
}

.ratio-4-3{
    aspect-ratio: 4 / 3;
}











/* corners */
.corner-1{
    border-radius: .5rem;
}

.corner-2{
    border-radius: 1rem;
}

.corner-3{
    border-radius: 1.5rem;
}

.corner-4{
    border-radius: 2rem;
}

.corner-5{
    border-radius: 2.5rem;
}

.corner-6{
    border-radius: 3rem;
}

.corner-top-left-1{
    border-top-left-radius: .5rem;
}

.corner-top-left-2{
    border-top-left-radius: 1rem;
}

.corner-top-left-3{
    border-top-left-radius: 1.5rem;
}

.corner-top-left-4{
    border-top-left-radius: 2rem;
}

.corner-top-left-5{
    border-top-left-radius: 2.5rem;
}

.corner-top-left-6{
    border-top-left-radius: 3rem;
}

.corner-top-right-1{
    border-top-right-radius: .5rem;
}

.corner-top-right-2{
    border-top-right-radius: 1rem;
}

.corner-top-right-3{
    border-top-right-radius: 1.5rem;
}

.corner-top-right-4{
    border-top-right-radius: 2rem;
}

.corner-top-right-5{
    border-top-right-radius: 2.5rem;
}

.corner-top-right-6{
    border-top-right-radius: 3rem;
}

.corner-bot-left-1{
    border-bottom-left-radius: .5rem;
}

.corner-bot-left-2{
    border-bottom-left-radius: 1rem;
}

.corner-bot-left-3{
    border-bottom-left-radius: 1.5rem;
}

.corner-bot-left-4{
    border-bottom-left-radius: 2rem;
}

.corner-bot-left-5{
    border-bottom-left-radius: 2.5rem;
}

.corner-bot-left-6{
    border-bottom-left-radius: 3rem;
}

.corner-bot-right-1{
    border-bottom-right-radius: .5rem;
}

.corner-bot-right-2{
    border-bottom-right-radius: 1rem;
}

.corner-bot-right-3{
    border-bottom-right-radius: 1.5rem;
}

.corner-bot-right-4{
    border-bottom-right-radius: 2rem;
}

.corner-bot-right-5{
    border-bottom-right-radius: 2.5rem;
}

.corner-bot-right-6{
    border-bottom-right-radius: 3rem;
}









/* cursors */
.alias{
    cursor: alias
}
.all-scroll{
    cursor: all-scroll
}

.cell{
    cursor: cell
}

.context-menu{
    cursor: context-menu
}

.col-resize{
    cursor: col-resize
}

.copy{
    cursor: copy
}

.crosshair{
    cursor: crosshair
}

.default{
    cursor: default
}

.e-resize{
    cursor: e-resize
}

.ew-resize{
    cursor: ew-resize
}


.grab{
    cursor: grab
}

.grabbing{
    cursor: grabbing
}

.help{
    cursor: help
}

.move{
    cursor: move
}

.n-resize{
    cursor: n-resize
}

.ne-resize{
    cursor: ne-resize
}

.nesw-resize{
    cursor: nesw-resize
}

.ns-resize{
    cursor: ns-resize
}

.nw-resize{
    cursor: nw-resize
}

.nwse-resize{
    cursor: nwse-resize
}

.no-drop{
    cursor: no-drop
}

.none{
    cursor: none
}

.not-allowed{
    cursor: not-allowed
}

.pointer{
    cursor: pointer
}

.progress{
    cursor: progress
}

.row-resize{
    cursor: row-resize
}

.s-resize{
    cursor: s-resize
}

.se-resize{
    cursor: se-resize}


.sw-resize{
    cursor: sw-resize
}

.text{
    cursor: text
}

.w-resize{
    cursor: w-resize
}

.wait{
    cursor: wait
}

.zoom-in{
    cursor: zoom-in
}

.zoom-out{
    cursor: zoom-out
}










/* displays */
.display-none{
    display: none;
}

.inline-flex{
    display: inline-flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-rev{
    display: flex;
    flex-direction: row-reverse;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-col-rev{
    display: flex;
    flex-direction: column-reverse;
}

.gap-1{
    gap: 1px;
}

.gap-2{
    gap: 2px;
}

.gap-3{
    gap: 3px;
}

.gap-4{
    gap: 4px;
}

.gap-5{
    gap: 5px;
}

.gap-6{
    gap: 6px;
}

.gap-7{
    gap: 7px;
}

.gap-8{
    gap: 8px;
}

.gap-9{
    gap: 9px;
}

.gap-10{
    gap: 10px;
}

.gap-11{
    gap: 11px;
}

.gap-12{
    gap: 12px;
}

.gap-13{
    gap: 13px;
}

.gap-14{
    gap: 14px;
}

.gap-15{
    gap: 15px;
}

.gap-16{
    gap: 16px;
}

.gap-17{
    gap: 17px;
}

.gap-17{
    gap: 17px;
}

.gap-17{
    gap: 17px;
}

.gap-18{
    gap: 18px;
}

.gap-19{
    gap: 19px;
}

.gap-20{
    gap: 20px;
}

.gap-21{
    gap: 21px;
}

.gap-22{
    gap: 22px;
}

.gap-23{
    gap: 23px;
}

.gap-24{
    gap: 24px;
}

.gap-25{
    gap: 25px;
}

.gap-26{
    gap: 26px;
}

.gap-27{
    gap: 27px;
}

.gap-28{
    gap: 28px;
}

.gap-29{
    gap: 29px;
}


.gap-30{
    gap: 30px;
}

.gap-31{
    gap: 31px;
}

.gap-32{
    gap: 32px;
}

.gap-33{
    gap: 33px;
}

.gap-34{
    gap: 34px;
}

.gap-35{
    gap: 35px;
}

.gap-36{
    gap: 36px;
}

.gap-37{
    gap: 37px;
}

.gap-38{
    gap: 38px;
}

.gap-39{
    gap: 39px;
}

.gap-40{
    gap: 40px;
}

.gap-41{
    gap: 41px;
}

.gap-42{
    gap: 42px;
}

.gap-43{
    gap: 43px;
}

.gap-44{
    gap: 44px;
}

.gap-45{
    gap: 45px;
}

.gap-46{
    gap: 46px;
}

.gap-47{
    gap: 47px;
}

.gap-48{
    gap: 48px;
}

.gap-49{
    gap: 49px;
}

.gap-50{
    gap: 50px;
}

.col-gap-1{
    column-gap: 1px;
}

.col-gap-2{
    column-gap: 2px;
}

.col-gap-3{
    column-gap: 3px;
}

.col-gap-4{
    column-gap: 4px;
}

.col-gap-5{
    column-gap: 5px;
}

.col-gap-6{
    column-gap: 6px;
}

.col-gap-7{
    column-gap: 7px;
}

.col-gap-8{
    column-gap: 8px;
}

.col-gap-9{
    column-gap: 9px;
}

.col-gap-10{
    column-gap: 10px;
}

.col-gap-11{
    column-gap: 11px;
}

.col-gap-12{
    column-gap: 12px;
}

.col-gap-13{
    column-gap: 13px;
}

.col-gap-14{
    column-gap: 14px;
}

.col-gap-15{
    column-gap: 15px;
}

.col-gap-16{
    column-gap: 16px;
}

.col-gap-17{
    column-gap: 17px;
}

.col-gap-17{
    column-gap: 17px;
}

.col-gap-17{
    column-gap: 17px;
}

.col-gap-18{
    column-gap: 18px;
}

.col-gap-19{
    column-gap: 19px;
}

.col-gap-20{
    column-gap: 20px;
}

.col-gap-21{
    column-gap: 21px;
}

.col-gap-22{
    column-gap: 22px;
}

.col-gap-23{
    column-gap: 23px;
}

.col-gap-24{
    column-gap: 24px;
}

.col-gap-25{
    column-gap: 25px;
}

.col-gap-26{
    column-gap: 26px;
}

.col-gap-27{
    column-gap: 27px;
}

.col-gap-28{
    column-gap: 28px;
}

.col-gap-29{
    column-gap: 29px;
}


.col-gap-30{
    column-gap: 30px;
}

.col-gap-31{
    column-gap: 31px;
}

.col-gap-32{
    column-gap: 32px;
}

.col-gap-33{
    column-gap: 33px;
}

.col-gap-34{
    column-gap: 34px;
}

.col-gap-35{
    column-gap: 35px;
}

.col-gap-36{
    column-gap: 36px;
}

.col-gap-37{
    column-gap: 37px;
}

.col-gap-38{
    column-gap: 38px;
}

.col-gap-39{
    column-gap: 39px;
}

.col-gap-40{
    column-gap: 40px;
}

.col-gap-41{
    column-gap: 41px;
}

.col-gap-42{
    column-gap: 42px;
}

.col-gap-43{
    column-gap: 43px;
}

.col-gap-44{
    column-gap: 44px;
}

.col-gap-45{
    column-gap: 45px;
}

.col-gap-46{
    column-gap: 46px;
}

.col-gap-47{
    column-gap: 47px;
}

.col-gap-48{
    column-gap: 48px;
}

.col-gap-49{
    column-gap: 49px;
}

.col-gap-50{
    column-gap: 50px;
}

.gap-row-1{
    row-gap: 1px;
}

.gap-row-2{
    row-gap: 2px;
}

.gap-row-3{
    row-gap: 3px;
}

.gap-row-4{
    row-gap: 4px;
}

.gap-row-5{
    row-gap: 5px;
}

.gap-row-6{
    row-gap: 6px;
}

.gap-row-7{
    row-gap: 7px;
}

.gap-row-8{
    row-gap: 8px;
}

.gap-row-9{
    row-gap: 9px;
}

.gap-row-10{
    row-gap: 10px;
}

.gap-row-11{
    row-gap: 11px;
}

.gap-row-12{
    row-gap: 12px;
}

.gap-row-13{
    row-gap: 13px;
}

.gap-row-14{
    row-gap: 14px;
}

.gap-row-15{
    row-gap: 15px;
}

.gap-row-16{
    row-gap: 16px;
}

.gap-row-17{
    row-gap: 17px;
}

.gap-row-17{
    row-gap: 17px;
}

.gap-row-17{
    row-gap: 17px;
}

.gap-row-18{
    row-gap: 18px;
}

.gap-row-19{
    row-gap: 19px;
}

.gap-row-20{
    row-gap: 20px;
}

.gap-row-21{
    row-gap: 21px;
}

.gap-row-22{
    row-gap: 22px;
}

.gap-row-23{
    row-gap: 23px;
}

.gap-row-24{
    row-gap: 24px;
}

.gap-row-25{
    row-gap: 25px;
}

.gap-row-26{
    row-gap: 26px;
}

.gap-row-27{
    row-gap: 27px;
}

.gap-row-28{
    row-gap: 28px;
}

.gap-row-29{
    row-gap: 29px;
}


.gap-row-30{
    row-gap: 30px;
}

.gap-row-31{
    row-gap: 31px;
}

.gap-row-32{
    row-gap: 32px;
}

.gap-row-33{
    row-gap: 33px;
}

.gap-row-34{
    row-gap: 34px;
}

.gap-row-35{
    row-gap: 35px;
}

.gap-row-36{
    row-gap: 36px;
}

.gap-row-37{
    row-gap: 37px;
}

.gap-row-38{
    row-gap: 38px;
}

.gap-row-39{
    row-gap: 39px;
}

.gap-row-40{
    row-gap: 40px;
}

.gap-row-41{
    row-gap: 41px;
}

.gap-row-42{
    row-gap: 42px;
}

.gap-row-43{
    row-gap: 43px;
}

.gap-row-44{
    row-gap: 44px;
}

.gap-row-45{
    row-gap: 45px;
}

.gap-row-46{
    row-gap: 46px;
}

.gap-row-47{
    row-gap: 47px;
}

.gap-row-48{
    row-gap: 48px;
}

.gap-row-49{
    row-gap: 49px;
}

.gap-row-50{
    row-gap: 50px;
}

.grid-row-1{
    display: grid;
    grid-template-rows: 1fr;
}

.grid-row-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid-row-3{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-row-4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-row-5{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.grid-row-6{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-row-7{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-row-8{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-row-9{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-row-10{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-col-1{
    display: grid;
    grid-template-columns: 1fr;
}

.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-col-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-col-6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-col-7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-col-8{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-col-9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-col-10{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}










/* extras */
.glass{
    backdrop-filter: blur(5px);
}









/* inputs */
.inp::-webkit-input-placeholder{
    opacity: .7;
}

.hide-x[type = 'search']::-webkit-search-cancel-button{
    display: none;
}

.inp-hide-arrows::-webkit-inner-spin-button{
    display: none;
}

.inp-hide-calendar::-webkit-calendar-picker-indicator{
    filter: opacity(0);
}

.inp-calendar-color-white::-webkit-calendar-picker-indicator{
    filter: invert(100%);
}

.inp[type="checkbox"]{
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    min-height: 1rem;
    border: solid 2.5px transparent;
    background-color: transparent;
    background-clip: content-box;
    box-shadow: 0px 0px 0px 2px var(--primaryInput);
    cursor: pointer;
}

.inp[type="checkbox"]:hover{
    opacity: .7;
    background-color: var(--primaryInput);
}

@keyframes focus-bg{
    from{
        background-color: var(--details);
        opacity: .5;
    }

    to{
        background-color: transparent;
        opacity: 1;
    }
}

.inp-1{
    border: solid 2px var(--secondaryInput);
    color: var(--secondaryInput);
    background-color: transparent;
}

.inp-1:focus{
    border: solid 2px var(--primaryInput);
    color: var(--primaryInput);
    animation: focus-bg 1s;
}

.inp-2{
    border: solid 2px var(--primaryInput);
    background-color: var(--primaryInput);
    color: var(--secondaryInput);
}

.inp-2:focus{
    border: solid 2px var(--secondaryInput);
}

.inp-3{
    border: solid 2px var(--secondaryInput);
    background-color: var(--primaryInput);
    color: var(--secondaryInput);
}

.inp-3:focus{
    border: solid 2px var(--primaryInput);
    background-color: var(--secondaryInput);
    color: var(--primaryInput);
}

.inp-4{
    background-color: #FFF;
    color: #000;
    opacity: .3;
}

.inp-4:focus{
    background-color: #000;
    color: #FFF;
}

.inp-5{
    border-bottom: solid 2px var(--secondaryInput);
    color: var(--secondaryInput);
    background-color: transparent;
}

.inp-5:focus{
    border-bottom: solid 2px var(--primaryInput);
    color: var(--primaryInput);
    animation: focus-bg 1s;
}










/* margins */
.mgn-auto{
    margin: auto;
}

.mgn-0{
    margin: 0;
}

.mgn-1{
    margin: .5rem;
}

.mgn-2{
    margin: 1rem;
}

.mgn-3{
    margin: 1.5rem;
}

.mgn-4{
    margin: 2rem;
}

.mgn-5{
    margin: 2.5rem;
}

.mgn-6{
    margin: 3rem;
}

.mgn-7{
    margin: 3.5rem;
}

.mgn-8{
    margin: 4rem;
}

.mgn-9{
    margin: 4.5rem;
}

.mgn-10{
    margin: 5rem;
}

.mgn-x-auto{
    margin-left: auto;
    margin-right: auto;
}

.mgn-x-0{
    margin-left: 0;
    margin-right: 0;
}

.mgn-x-1{
    margin-left: .5rem;
    margin-right: .5rem;
}

.mgn-x-2{
    margin-left: 1rem;
    margin-right: 1rem;
}

.mgn-x-3{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mgn-x-4{
    margin-left: 2rem;
    margin-right: 2rem;
}

.mgn-x-5{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.mgn-x-6{
    margin-left: 3rem;
    margin-right: 3rem;
}

.mgn-x-7{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.mgn-x-8{
    margin-left: 4rem;
    margin-right: 4rem;
}

.mgn-x-9{
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}

.mgn-x-10{
    margin-left: 5rem;
    margin-right: 5rem;
}

.mgn-y-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.mgn-y-0{
    margin-top: 0;
    margin-bottom: 0;
}

.mgn-y-1{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mgn-y-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mgn-y-3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mgn-y-4{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mgn-y-5{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.mgn-y-6{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mgn-y-7{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.mgn-y-8{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mgn-y-9{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.mgn-y-10{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mgn-top-auto{
    margin-top: auto;
}

.mgn-top-0{
    margin-top: 0;
}

.mgn-top-1{
    margin-top: .5rem;
}

.mgn-top-2{
    margin-top: 1rem;
}

.mgn-top-3{
    margin-top: 1.5rem;
}

.mgn-top-4{
    margin-top: 2rem;
}

.mgn-top-5{
    margin-top: 2.5rem;
}

.mgn-top-6{
    margin-top: 3rem;
}

.mgn-top-7{
    margin-top: 3.5rem;
}

.mgn-top-8{
    margin-top: 4rem;
}

.mgn-top-9{
    margin-top: 4.5rem;
}

.mgn-top-10{
    margin-top: 5rem;
}


.mgn-right-auto{
    margin-right: auto;
}

.mgn-right-0{
    margin-right: 0;
}

.mgn-right-1{
    margin-right: .5rem;
}

.mgn-right-2{
    margin-right: 1rem;
}

.mgn-right-3{
    margin-right: 1.5rem;
}

.mgn-right-4{
    margin-right: 2rem;
}

.mgn-right-5{
    margin-right: 2.5rem;
}

.mgn-right-6{
    margin-right: 3rem;
}

.mgn-right-7{
    margin-right: 3.5rem;
}

.mgn-right-8{
    margin-right: 4rem;
}

.mgn-right-9{
    margin-right: 4.5rem;
}

.mgn-right-10{
    margin-right: 5rem;
}

.mgn-bot-auto{
    margin-bottom: auto;
}

.mgn-bot-0{
    margin-bottom: 0;
}

.mgn-bot-1{
    margin-bottom: .5rem;
}

.mgn-bot-2{
    margin-bottom: 1rem;
}

.mgn-bot-3{
    margin-bottom: 1.5rem;
}

.mgn-bot-4{
    margin-bottom: 2rem;
}

.mgn-bot-5{
    margin-bottom: 2.5rem;
}

.mgn-bot-6{
    margin-bottom: 3rem;
}

.mgn-bot-7{
    margin-bottom: 3.5rem;
}

.mgn-bot-8{
    margin-bottom: 4rem;
}

.mgn-bot-9{
    margin-bottom: 4.5rem;
}

.mgn-bot-10{
    margin-bottom: 5rem;
}

.mgn-left-auto{
    margin-left: auto;
}

.mgn-left-0{
    margin-left: 0;
}

.mgn-left-1{
    margin-left: .5rem;
}

.mgn-left-2{
    margin-left: 1rem;
}

.mgn-left-3{
    margin-left: 1.5rem;
}

.mgn-left-4{
    margin-left: 2rem;
}

.mgn-left-5{
    margin-left: 2.5rem;
}

.mgn-left-6{
    margin-left: 3rem;
}

.mgn-left-7{
    margin-left: 3.5rem;
}

.mgn-left-8{
    margin-left: 4rem;
}

.mgn-left-9{
    margin-left: 4.5rem;
}

.mgn-left-10{
    margin-left: 5rem;
}










/* object-fits */
.obj-fit-fill{
    object-fit: fill;
}

.obj-fit-contain{
    object-fit: contain;
}

.obj-fit-cover{
    object-fit: cover;
}

.obj-fit-none{
    object-fit: none
}

.obj-fit-scaledown{
    object-fit: scale-down;
}









/* paddings */
.pdn-auto{
    padding: auto;
}

.pdn-0{
    padding: 0;
}

.pdn-1{
    padding: .5rem;
}

.pdn-2{
    padding: 1rem;
}

.pdn-3{
    padding: 1.5rem;
}

.pdn-4{
    padding: 2rem;
}

.pdn-5{
    padding: 2.5rem;
}

.pdn-6{
    padding: 3rem;
}

.pdn-7{
    padding: 3.5rem;
}

.pdn-8{
    padding: 4rem;
}

.pdn-9{
    padding: 4.5rem;
}

.pdn-10{
    padding: 5rem;
}

.pdn-x-auto{
    padding-left: auto;
    padding-right: auto;
}

.pdn-x-0{
    padding-left: 0;
    padding-right: 0;
}

.pdn-x-1{
    padding-left: .5rem;
    padding-right: .5rem;
}

.pdn-x-2{
    padding-left: 1rem;
    padding-right: 1rem;
}

.pdn-x-3{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pdn-x-4{
    padding-left: 2rem;
    padding-right: 2rem;
}

.pdn-x-5{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.pdn-x-6{
    padding-left: 3rem;
    padding-right: 3rem;
}

.pdn-x-7{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.pdn-x-8{
    padding-left: 4rem;
    padding-right: 4rem;
}

.pdn-x-9{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.pdn-x-10{
    padding-left: 5rem;
    padding-right: 5rem;
}

.pdn-y-auto{
    padding-top: auto;
    padding-bottom: auto;
}

.pdn-y-0{
    padding-top: 0;
    padding-bottom: 0;
}

.pdn-y-1{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.pdn-y-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pdn-y-3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pdn-y-4{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pdn-y-5{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.pdn-y-6{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pdn-y-7{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.pdn-y-8{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.pdn-y-9{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.pdn-y-10{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pdn-top-auto{
    padding-top: auto;
}

.pdn-top-0{
    padding-top: 0;
}

.pdn-top-1{
    padding-top: .5rem;
}

.pdn-top-2{
    padding-top: 1rem;
}

.pdn-top-3{
    padding-top: 1.5rem;
}

.pdn-top-4{
    padding-top: 2rem;
}

.pdn-top-5{
    padding-top: 2.5rem;
}

.pdn-top-6{
    padding-top: 3rem;
}

.pdn-top-7{
    padding-top: 3.5rem;
}

.pdn-top-8{
    padding-top: 4rem;
}

.pdn-top-9{
    padding-top: 4.5rem;
}

.pdn-top-10{
    padding-top: 5rem;
}


.pdn-right-auto{
    padding-right: auto;
}

.pdn-right-0{
    padding-right: 0;
}

.pdn-right-1{
    padding-right: .5rem;
}

.pdn-right-2{
    padding-right: 1rem;
}

.pdn-right-3{
    padding-right: 1.5rem;
}

.pdn-right-4{
    padding-right: 2rem;
}

.pdn-right-5{
    padding-right: 2.5rem;
}

.pdn-right-6{
    padding-right: 3rem;
}

.pdn-right-7{
    padding-right: 3.5rem;
}

.pdn-right-8{
    padding-right: 4rem;
}

.pdn-right-9{
    padding-right: 4.5rem;
}

.pdn-right-10{
    padding-right: 5rem;
}

.pdn-bot-auto{
    padding-bottom: auto;
}

.pdn-bot-0{
    padding-bottom: 0;
}

.pdn-bot-1{
    padding-bottom: .5rem;
}

.pdn-bot-2{
    padding-bottom: 1rem;
}

.pdn-bot-3{
    padding-bottom: 1.5rem;
}

.pdn-bot-4{
    padding-bottom: 2rem;
}

.pdn-bot-5{
    padding-bottom: 2.5rem;
}

.pdn-bot-6{
    padding-bottom: 3rem;
}

.pdn-bot-7{
    padding-bottom: 3.5rem;
}

.pdn-bot-8{
    padding-bottom: 4rem;
}

.pdn-bot-9{
    padding-bottom: 4.5rem;
}

.pdn-bot-10{
    padding-bottom: 5rem;
}

.pdn-left-auto{
    padding-left: auto;
}

.pdn-left-0{
    padding-left: 0;
}

.pdn-left-1{
    padding-left: .5rem;
}

.pdn-left-2{
    padding-left: 1rem;
}

.pdn-left-3{
    padding-left: 1.5rem;
}

.pdn-left-4{
    padding-left: 2rem;
}

.pdn-left-5{
    padding-left: 2.5rem;
}

.pdn-left-6{
    padding-left: 3rem;
}

.pdn-left-7{
    padding-left: 3.5rem;
}

.pdn-left-8{
    padding-left: 4rem;
}

.pdn-left-9{
    padding-left: 4.5rem;
}

.pdn-left-10{
    padding-left: 5rem;
}










/* positions */
.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.relative{
    position: relative;
}

.static{
    position: static;
}

.sticky{
    position: sticky;
}

.top-0{
    top: 0;
}

.top-1{
    top: 1px;
}

.top-2{
    top: 2px;
}

.top-3{
    top: 3px;
}

.top-4{
    top: 4px;
}

.top-5{
    top: 5px;
}

.top-6{
    top: 6px;
}

.top-7{
    top: 7px;
}

.top-8{
    top: 8px;
}

.top-9{
    top: 9px;
}

.top-10{
    top: 10px;
}

.bot-0{
    bottom: 0;
}

.bot-1{
    bottom: 1px;
}

.bot-2{
    bottom: 2px;
}

.bot-3{
    bottom: 3px;
}

.bot-4{
    bottom: 4px;
}

.bot-5{
    bottom: 5px;
}

.bot-6{
    bottom: 6px;
}

.bot-7{
    bottom: 7px;
}

.bot-8{
    bottom: 8px;
}

.bot-9{
    bottom: 9px;
}

.bot-10{
    bottom: 10px;
}

.left-0{
    left: 0;
}

.left-1{
    left: 1px;
}

.left-2{
    left: 2px;
}

.left-3{
    left: 3px;
}

.left-4{
    left: 4px;
}

.left-5{
    left: 5px;
}

.left-6{
    left: 6px;
}

.left-7{
    left: 7px;
}

.left-8{
    left: 8px;
}

.left-9{
    left: 9px;
}

.left-10{
    left: 10px;
}

.right-0{
    right: 0;
}

.right-1{
    right: 1px;
}

.right-2{
    right: 2px;
}

.right-3{
    right: 3px;
}

.right-4{
    right: 4px;
}

.right-5{
    right: 5px;
}

.right-6{
    right: 6px;
}

.right-7{
    right: 7px;
}

.right-8{
    right: 8px;
}

.right-9{
    right: 9px;
}

.right-10{
    right: 10px;
}










/* scroll */
.scrollbar::-webkit-scrollbar{
    background-color: transparent;
}

.allow-scroll{
    overflow: auto;
}

.allow-scroll-x{
    overflow-x: auto;
}

.allow-scroll-y{
    overflow-y: auto;
}

.block-scroll{
    overflow: hidden;
}

.block-scroll-x{
    overflow-x: hidden;
}

.block-scroll-y{
    overflow-y: hidden;
}

.show-scrollbar::-webkit-scrollbar{
    display: initial;
}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}

.scrollbar-1::-webkit-scrollbar-track{
    background-color: var(--secondaryScroll);
}

.scrollbar-1::-webkit-scrollbar-thumb{
    background-color: var(--primaryScroll);
    border-radius: 1rem;
    border: solid 3px transparent;
    background-clip: content-box;
}

.scrollbar-2::-webkit-scrollbar-track{
    background-color: var(--primaryScroll);
}

.scrollbar-2::-webkit-scrollbar-thumb{
    background-color: var(--secondaryScroll);
    border-radius: 1rem;
    border: solid 3px transparent;
    background-clip: content-box;
}

.scrollbar-3::-webkit-scrollbar-track{
    background-color: var(--secondaryScroll);
    border-radius: 1rem;
}

.scrollbar-3::-webkit-scrollbar-thumb{
    background-color: var(--primaryScroll);
    border-radius: 1rem;
    border: solid 3px transparent;
    background-clip: content-box;
}

.scrollbar-4::-webkit-scrollbar-track{
    background-color: var(--primaryScroll);
    border-radius: 1rem;
}

.scrollbar-4::-webkit-scrollbar-thumb{
    background-color: var(--secondaryScroll);
    border-radius: 1rem;
    border: solid 3px transparent;
    background-clip: content-box;
}

.scrollbar-5::-webkit-scrollbar-track{
    background-color: transparent;
}

.scrollbar-5::-webkit-scrollbar-thumb{
    background-color: var(--primaryScroll);
    border-radius: 1rem;
    border: solid 3px transparent;
    background-clip: content-box;
}

.scrollbar-6::-webkit-scrollbar-track{
    background-color: transparent;
}

.scrollbar-6::-webkit-scrollbar-thumb{
    background-color: var(--secondaryScroll);
    border-radius: 1rem;
    border: solid 3px transparent;
    background-clip: content-box;
}

@media only screen and (max-width: 1024px){
    .scrollbar::-webkit-scrollbar{
        display: none;
    }
}









/* shadows */
.shadow-1{
    box-shadow: 0px 0px 5px #000;
}

.shadow-2{
    box-shadow: 0px 0px 10px #000;
}

.shadow-3{
    box-shadow: 0px 0px 15px #000;
}

.shadow-4{
    box-shadow: 0px 0px 5px #FFF;
}

.shadow-5{
    box-shadow: 0px 0px 10px #FFF;
}

.shadow-6{
    box-shadow: 0px 0px 15px #FFF;
}











/* text-align */
.txt-aln-center{
    text-align: center;
}

.txt-aln-left{
    text-align: left;
}

.txt-aln-right{
    text-align: right;
}

.txt-aln-jst{
    text-align: justify;
}









/* text-colors */
.txt-color-1{
    color: var(--primaryColor);
}

.txt-color-2{
    color: var(--secondaryColor);
}

.txt-color-3{
    color: var(--details);
}

.txt-color-4{
    color: var(--mode);
}

.txt-color-5{
    color: var(--bg);
}

.txt-color-white{
    color: #fff;
}

.txt-color-gray{
    color: #8a8a8a;
}

.txt-color-black{
    color: #000;
}









/* text-fonts */
.txt-font-varela{
    font-family: 'Varela', sans-serif;
}

.txt-font-poppins{
    font-family: 'Poppins', sans-serif;
}

.txt-font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.txt-font-nunito{
    font-family: 'Nunito', sans-serif;
}

.txt-font-ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.txt-font-quicksand{
    font-family: 'Quicksand', sans-serif;
}

.txt-font-inconsolata{
    font-family: 'Inconsolata', monospace;
}









/* text-sizes */
.txt-size-1{
    font-size: 1rem;
}

.txt-size-2{
    font-size: 1.5rem;
}

.txt-size-3{
    font-size: 2rem;
}

.txt-size-4{
    font-size: 2rem;
}

.txt-size-5{
    font-size: 2.5rem;
}

.txt-size-6{
    font-size: 3rem;
}

.txt-size-7{
    font-size: 3.5rem;
}

.txt-size-8{
    font-size: 4rem;
}

.txt-size-9{
    font-size: 4.5rem;
}

.txt-size-10{
    font-size: 5rem;
}










/* text-weights */
.txt-weight-1{
    font-weight: 100;
}

.txt-weight-2{
    font-weight: 200;
}

.txt-weight-3{
    font-weight: 300;
}

.txt-weight-4{
    font-weight: 400;
}

.txt-weight-5{
    font-weight: 500;
}

.txt-weight-6{
    font-weight: 600;
}

.txt-weight-7{
    font-weight: 700;
}

.txt-weight-8{
    font-weight: 800;
}

.txt-weight-9{
    font-weight: 900;
}

.txt-weight-bolder{
    font-weight: bolder;
}

.txt-weight-lighter{
    font-weight: lighter;
}










/* background-colors */
.bg-color-1{
    background-color: var(--primaryColor);
}

.bg-color-2{
    background-color: var(--secondaryColor);
}

.bg-color-3{
    background-color: var(--details);
}

.bg-color-4{
    background-color: var(--mode);
}

.bg-color-5{
    background-color: var(--bg);
}

.bg-color-white{
    background-color: #fff;
}

.bg-color-gray{
    background-color: #8a8a8a;
}

.bg-color-black{
    background-color: #000;
}









/* fill */
.fill-1{
    fill: var(--primaryColor);
}

.fill-2{
    fill: var(--secondaryColor);
}

.fill-3{
    fill: var(--details);
}

.fill-4{
    fill: var(--mode);
}

.fill-5{
    fill: var(--bg);
}

.fill-white{
    fill: #fff;
}

.fill-gray{
    fill: #8a8a8a;
}

.fill-black{
    fill: #000;
}










/* stroke */
.stroke-1{
    stroke: var(--primaryColor);
}

.stroke-2{
    stroke: var(--secondaryColor);
}

.stroke-3{
    stroke: var(--details);
}

.stroke-4{
    stroke: var(--mode);
}

.stroke-5{
    stroke: var(--bg);
}

.stroke-white{
    stroke: #fff;
}

.stroke-gray{
    stroke: #8a8a8a;
}

.stroke-black{
    stroke: #000;
}










/* icons */
.icon-1{
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    min-height: 1rem;
}

.icon-2{
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    min-height: 1.5rem;
}

.icon-3{
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    min-height: 2rem;
}

.icon-4{
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
}

.icon-5{
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    min-height: 3rem;
}










/*word-break*/
.keep-all{
    word-break: keep-all;
}

.break-all{
    word-break: break-all;
}










*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiasing;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    user-select: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    word-break: break-all;
    -webkit-tap-highlight-color: transparent;
}

html{
    --primaryBtn: #000;
    --secondaryBtn: #fff;
    --primaryInput: #000;
    --secondaryInput: #fff;
    --primaryScroll: #000;
    --secondaryScroll: #fff;
    --primaryColor: #00F;
    --secondaryColor: #0F0;
    --mode: #000;
    --details: #FFF;
    --bg: #444;
}

html, body, #root{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 560px;
}

body > *:hover, *:active, *:focus *:not(:hover), *:not(:active), *:not(:focus){
    transition: 200ms;
}

a[href]{
    text-decoration: none;
    color: initial;
}

a[href]:hover{
    text-decoration: none;
    opacity: .8;
}

a[href]:active{
    text-decoration: none;
    opacity: .3;
}

button{
    border: none;
    background-color: transparent;
}

input{
    outline: none;
    border: none;
}
