
.slide-down{
    animation: slide-down 1s;
}

@keyframes slide-down{
    from{
        transform: translate(0, -100%)
    }

    to{
        transform: none;
    }
}

.slide-up{
    animation: slide-up 1s;
}

@keyframes slide-up{
    from{
        transform: translate(0, 100%)
    }

    to{
        transform: none;
    }
}

.slide-left{
    animation: slide-left 1s;
}

@keyframes slide-left{
    from{
        transform: translate(100%, 0)
    }

    to{
        transform: none;
    }
}

.slide-right{
    animation: slide-right 1s;
}

@keyframes slide-right{
    from{
        transform: translate(-100%, 0)
    }

    to{
        transform: none;
    }
}

.popup{
    animation: popup 1s;
}

@keyframes popup{
    from{
        transform: scale(0)
    }

    to{
        transform: none;
    }

    
}