.btn{
    padding: .5rem;
    cursor: pointer;
}

.btn:hover{
    opacity: 80%;
}

.btn:active{
    transform: translateY(2px);
}

.btn-1{
    color: var(--secondary);
    background-color: var(--primary);
}

.btn-2{
    color: var(--secondary);
    background-color: transparent;
    border: solid 2px var(--secondary);
}

.btn-3{
    color: var(--secondary);
    background-color: var(--primary);
    border: solid 2px var(--secondary);
}