.btn{
    cursor: pointer;
}

.btn:hover{
    opacity: 50%;
}

.btn:active{
    transform: translateY(2px);
}

.btn-1{
    color: var(--btnsecondary);
    background-color: var(--btnprimary);
}

.btn-2{
    color: var(--btnsecondary);
    background-color: transparent;
    border: solid 2px var(--btnsecondary);
}

.btn-3{
    color: var(--btnsecondary);
    background-color: var(--btnprimary);
    border: solid 2px var(--btnsecondary);
}

.btn-4{
    color: var(--btnprimary);
}

.btn-5{
    color: var(--btnsecondary);
}
