.btn{
    padding: .5rem;
    cursor: pointer;
}

.btn:hover{
    transform: translateY(-3px);
}

.btn:active{
    opacity: 50%;
}


.btn-1{
    color: var(--secondary);
    background-color: var(--primary);
}

.btn-2{
    color: var(--secondary);
    background-color: transparent;
    border: solid 2px var(--secondary);
}

.btn-3{
    color: var(--secondary);
    background-color: var(--primary);
    border: solid 2px var(--secondary);
}

.btn-4{
    color: var(--secondary);
    backdrop-filter: blur(25px);
}

.btn-5{
    color: var(--secondary);
    backdrop-filter: blur(25px);
    border: solid 2px var(--secondary);
}