.width-fit{
    width: fit-content;
}

.width-5{
    width: 5%;
}

.width-10{
    width: 10%;
}

.width-15{
    width: 15%;
}

.width-20{
    width: 20%;
}

.width-25{
    width: 25%;
}

.width-30{
    width: 30%;
}

.width-35{
    width: 35%;
}

.width-40{
    width: 40%;
}

.width-45{
    width: 45%;
}

.width-50{
    width: 50%;
}

.width-55{
    width: 55%;
}

.width-60{
    width: 60%;
}

.width-65{
    width: 65%;
}

.width-70{
    width: 70%;
}

.width-75{
    width: 75%;
}

.width-80{
    width: 80%;
}

.width-85{
    width: 85%;
}

.width-90{
    width: 90%;
}

.width-95{
    width: 95%;
}

.width-100{
    width: 100%;
}

.height-fit{
    height: fit-content;
}

.height-5{
    height: 5%;
}

.height-10{
    height: 10%;
}

.height-15{
    height: 15%;
}

.height-20{
    height: 20%;
}

.height-25{
    height: 25%;
}

.height-30{
    height: 30%;
}

.height-35{
    height: 35%;
}

.height-40{
    height: 40%;
}

.height-45{
    height: 45%;
}

.height-50{
    height: 50%;
}

.height-55{
    height: 55%;
}

.height-60{
    height: 60%;
}

.height-65{
    height: 65%;
}

.height-70{
    height: 70%;
}

.height-75{
    height: 75%;
}

.height-80{
    height: 80%;
}

.height-85{
    height: 85%;
}

.height-90{
    height: 90%;
}

.height-95{
    height: 95%;
}

.height-100{
    height: 100%;
}

.all-fit{
    width: fit-content;
    height: fit-content;
}

.all-5{
    width: 5%;
    height: 5%;
}

.all-10{
    width: 10%;
    height: 10%;
}

.all-15{
    width: 15%;
    height: 15%;
}

.all-20{
    width: 20%;
    height: 20%;
}

.all-25{
    width: 25%;
    height: 25%;
}

.all-30{
    width: 30%;
    height: 30%;
}

.all-35{
    width: 35%;
    height: 35%;
}

.all-40{
    width: 40%;
    height: 40%;
}

.all-45{
    width: 45%;
    height: 45%;
}

.all-50{
    width: 50%;
    height: 50%;
}

.all-55{
    width: 55%;
    height: 55%;
}

.all-60{
    width: 60%;
    height: 60%;
}

.all-65{
    width: 65%;
    height: 65%;
}

.all-70{
    width: 70%;
    height: 70%;
}

.all-75{
    width: 75%;
    height: 75%;
}

.all-80{
    width: 80%;
    height: 80%;
}

.all-85{
    width: 85%;
    height: 85%;
}

.all-90{
    width: 90%;
    height: 90%;
}

.all-95{
    width: 95%;
    height: 95%;
}

.all-100{
    width: 100%;
    height: 100%;
}
