.aln-center{
    align-items: center;
}

.aln-start{
    align-items: flex-start;
}

.aln-end{
    align-items: flex-end;
}

.aln-self-center{
    align-self: center;
}

.aln-self-start{
    align-self: flex-start;
}

.aln-self-end{
    align-self: flex-end;
}

.jst-center{
    justify-content: center;
}

.jst-start{
    justify-content: flex-start
}

.jst-end{
    justify-content: flex-end
}

.jst-around{
    justify-content: space-around;
}

.jst-between{
    justify-content: space-between;
}

.jst-evenly{
    justify-content: space-evenly;
}
