.width-fit{
    width: fit-content;
}

.width-5{
    width: 5%;
}

.width-10{
    width: 10%;
}

.width-15{
    width: 15%;
}

.width-20{
    width: 20%;
}

.width-25{
    width: 25%;
}

.width-30{
    width: 30%;
}

.width-35{
    width: 35%;
}

.width-40{
    width: 40%;
}

.width-45{
    width: 45%;
}

.width-50{
    width: 50%;
}

.width-55{
    width: 55%;
}

.width-60{
    width: 60%;
}

.width-65{
    width: 65%;
}

.width-70{
    width: 70%;
}

.width-75{
    width: 75%;
}

.width-80{
    width: 80%;
}

.width-85{
    width: 85%;
}

.width-90{
    width: 90%;
}

.width-95{
    width: 95%;
}

.width-100{
    width: 100%;
}

.height-fit{
    height: fit-content;
}

.height-5{
    height: 5%;
}

.height-10{
    height: 10%;
}

.height-15{
    height: 15%;
}

.height-20{
    height: 20%;
}

.height-25{
    height: 25%;
}

.height-30{
    height: 30%;
}

.height-35{
    height: 35%;
}

.height-40{
    height: 40%;
}

.height-45{
    height: 45%;
}

.height-50{
    height: 50%;
}

.height-55{
    height: 55%;
}

.height-60{
    height: 60%;
}

.height-65{
    height: 65%;
}

.height-70{
    height: 70%;
}

.height-75{
    height: 75%;
}

.height-80{
    height: 80%;
}

.height-85{
    height: 85%;
}

.height-90{
    height: 90%;
}

.height-95{
    height: 95%;
}

.height-100{
    height: 100%;
}

.all-fit{
    width: fit-content;
    height: fit-content;
}

.all-5{
    width: 5%;
    height: 5%;
}

.all-10{
    width: 10%;
    height: 10%;
}

.all-15{
    width: 15%;
    height: 15%;
}

.all-20{
    width: 20%;
    height: 20%;
}

.all-25{
    width: 25%;
    height: 25%;
}

.all-30{
    width: 30%;
    height: 30%;
}

.all-35{
    width: 35%;
    height: 35%;
}

.all-40{
    width: 40%;
    height: 40%;
}

.all-45{
    width: 45%;
    height: 45%;
}

.all-50{
    width: 50%;
    height: 50%;
}

.all-55{
    width: 55%;
    height: 55%;
}

.all-60{
    width: 60%;
    height: 60%;
}

.all-65{
    width: 65%;
    height: 65%;
}

.all-70{
    width: 70%;
    height: 70%;
}

.all-75{
    width: 75%;
    height: 75%;
}

.all-80{
    width: 80%;
    height: 80%;
}

.all-85{
    width: 85%;
    height: 85%;
}

.all-90{
    width: 90%;
    height: 90%;
}

.all-95{
    width: 95%;
    height: 95%;
}

.all-100{
    width: 100%;
    height: 100%;
}

.width-5-v{
    width: 5vw;
}

.width-10-v{
    width: 10vw;
}

.width-15-v{
    width: 15vw;
}

.width-20-v{
    width: 20vw;
}

.width-25-v{
    width: 25vw;
}

.width-30-v{
    width: 30vw;
}

.width-35-v{
    width: 35vw;
}

.width-40-v{
    width: 40vw;
}

.width-45-v{
    width: 45vw;
}

.width-50-v{
    width: 50vw;
}

.width-55-v{
    width: 55vw;
}

.width-60-v{
    width: 60vw;
}

.width-65-v{
    width: 65vw;
}

.width-70-v{
    width: 70vw;
}

.width-75-v{
    width: 75vw;
}

.width-80-v{
    width: 80vw;
}

.width-85-v{
    width: 85vw;
}

.width-90-v{
    width: 90vw;
}

.width-95-v{
    width: 95vw;
}

.width-100-v{
    width: 100vw;
}

.height-5-v{
    height: 5vh;
}

.height-10-v{
    height: 10vh;
}

.height-15-v{
    height: 15vh;
}

.height-20-v{
    height: 20vh;
}

.height-25-v{
    height: 25vh;
}

.height-30-v{
    height: 30vh;
}

.height-35-v{
    height: 35vh;
}

.height-40-v{
    height: 40vh;
}

.height-45-v{
    height: 45vh;
}

.height-50-v{
    height: 50vh;
}

.height-55-v{
    height: 55vh;
}

.height-60-v{
    height: 60vh;
}

.height-65-v{
    height: 65vh;
}

.height-70-v{
    height: 70vh;
}

.height-75-v{
    height: 75vh;
}

.height-80-v{
    height: 80vh;
}

.height-85-v{
    height: 85vh;
}

.height-90-v{
    height: 90vh;
}

.height-95-v{
    height: 95vh;
}

.height-100-v{
    height: 100vh;
}

.all-5-v{
    width: 5vw;
    height: 5vh;
}

.all-10-v{
    width: 10vw;
    height: 10vh;
}

.all-15-v{
    width: 15vw;
    height: 15vh;
}

.all-20-v{
    width: 20vw;
    height: 20vh;
}

.all-25-v{
    width: 25vw;
    height: 25vh;
}

.all-30-v{
    width: 30vw;
    height: 30vh;
}

.all-35-v{
    width: 35vw;
    height: 35vh;
}

.all-40-v{
    width: 40vw;
    height: 40vh;
}

.all-45-v{
    width: 45vw;
    height: 45vh;
}

.all-50-v{
    width: 50vw;
    height: 50vh;
}

.all-55-v{
    width: 55vw;
    height: 55vh;
}

.all-60-v{
    width: 60vw;
    height: 60vh;
}

.all-65-v{
    width: 65vw;
    height: 65vh;
}

.all-70-v{
    width: 70vw;
    height: 70vh;
}

.all-75-v{
    width: 75vw;
    height: 75vh;
}

.all-80-v{
    width: 80vw;
    height: 80vh;
}

.all-85-v{
    width: 85vw;
    height: 85vh;
}

.all-90-v{
    width: 90vw;
    height: 90vh;
}

.all-95-v{
    width: 95vw;
    height: 95vh;
}

.all-100-v{
    width: 100vw;
    height: 100vh;
}

.ratio-1-1{
    aspect-ratio: 1 / 1;
}

.ratio-1-2{
    aspect-ratio: 1 / 2;
}

.ratio-1-3{
    aspect-ratio: 1 / 3;
}

.ratio-1-4{
    aspect-ratio: 1 / 4;
}

.ratio-1-5{
    aspect-ratio: 1 / 5;
}

.ratio-1-6{
    aspect-ratio: 1 / 6;
}

.ratio-2-3{
    aspect-ratio: 2 / 3;
}

.ratio-3-2{
    aspect-ratio: 3 / 2;
}

.ratio-3-4{
    aspect-ratio: 3 / 4;
}

.ratio-4-3{
    aspect-ratio: 4 / 3;
}

