.inp{
    padding: .5rem;
    box-sizing: border-box;
}

.hide-x[type = 'search']::-webkit-search-cancel-button{
    display: none;
}

.inp::-webkit-input-placeholder{
    opacity: 70%;
}

.inp-hide-arrows::-webkit-inner-spin-button{
    display: none;
}

.inp-hide-calendar::-webkit-calendar-picker-indicator{
    filter: opacity(0);
}

.inp-calendar-color-white::-webkit-calendar-picker-indicator{
    filter: invert(100%);
}

@keyframes focus-bg{
    from{
        background-color: #FFFFFF50;
    }

    to{
        background-color: transparent
    }
}

.inp-1{
    border: solid 2px var(--inpsecondary);
    color: var(--inpsecondary);
    background-color: transparent;
}

.inp-1:focus{
    border: solid 2px var(--inpprimary);
    color: var(--inpprimary);
    animation: focus-bg 1s;
}

.inp-2{
    border: solid 2px var(--inpprimary);
    background-color: var(--inpprimary);
    color: var(--inpsecondary);
}

.inp-2:focus{
    border: solid 2px var(--inpsecondary);
}

.inp-3{
    border: solid 2px var(--inpsecondary);
    background-color: var(--inpprimary);
    color: var(--inpsecondary);
}

.inp-3:focus{
    border: solid 2px var(--inpprimary);
    background-color: var(--inpsecondary);
    color: var(--inpprimary);
}

.inp-4{
    background-color: #FFF;
    color: #000;
    opacity: 30%;
}

.inp-4:focus{
    background-color: #000;
    color: #FFF;
}

.inp-5{
    border-bottom: solid 2px var(--inpsecondary);
    color: var(--inpsecondary);
    background-color: transparent;
}

.inp-5:focus{
    border-bottom: solid 2px var(--inpprimary);
    color: var(--inpprimary);
    animation: focus-bg 1s;
}
