.inp{
    padding: .5rem;
    box-sizing: border-box;
}

.inp::-webkit-input-placeholder{
    opacity: 70%;
}

.inp-hide-arrows::-webkit-inner-spin-button{
    display: none;
}

.inp-hide-calendar::-webkit-calendar-picker-indicator{
    filter: opacity(0);
}

.inp-calendar-color-white::-webkit-calendar-picker-indicator{
    filter: invert(100%);
}

.inp-1{
    border: solid 2px var(--secondary);
    background-color: transparent;
}

.inp-1:focus{
    border: solid 2px var(--primary);
}

.inp-2{
    background-color: var(--primary);
    opacity: 30%;
}

.inp-2:focus{
    background-color: var(--secondary);
}

.inp-3{
    border-bottom: solid 2px var(--secondary);
    background-color: transparent;
}

.inp-3:focus{
    border-bottom: solid 2px var(--primary);
}

.inp-4{
    border: solid 2px var(--secondary);
    backdrop-filter: blur(25px);
}

.inp-4:focus{
    border: solid 2px var(--primary);
}