
.obj-fit-fill{
    object-fit: fill;
}

.obj-fit-contain{
    object-fit: contain;
}

.obj-fit-cover{
    object-fit: cover;
}

.obj-fit-none{
    object-fit: none
}

.obj-fit-scaledown{
    object-fit: scale-down;
}