.txt-font-1{
    font-family: 'Varela', sans-serif;
}

.txt-font-2{
    font-family: 'Poppins', sans-serif;
}

.txt-font-3{
    font-family: 'Montserrat', sans-serif;
}

.txt-font-4{
    font-family: 'Nunito', sans-serif;
}

.txt-font-5{
    font-family: 'Ubuntu', sans-serif;
}

.txt-font-6{
    font-family: 'Quicksand', sans-serif;
}