.txt-size-1{
    font-size: 1rem;
}

.txt-size-2{
    font-size: 1.5rem;
}

.txt-size-3{
    font-size: 2rem;
}

.txt-size-4{
    font-size: 2rem;
}

.txt-size-5{
    font-size: 2.5rem;
}

.txt-size-6{
    font-size: 3rem;
}